/* schrift import */
/* General Styles */

/* importe 
font-face

font-family: Cinzel, sans-serif;
font-family: Poppis, sans-serif;


 */

@font-face {
    font-family: Cinzel;
    src: url("../fonts/Cinzel_/Cinzel-VariableFont_wght.ttf");
}

@font-face {
    font-family: Poppis ;
    src: url("../fonts/Poppins/Poppins-Black.ttf"    );
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}