/* schrift import */
/* General Styles */

/* importe 
font-face

font-family: Cinzel, sans-serif;
font-family: Poppis, sans-serif;

 */

@font-face {
    font-family: Cinzel;
    src: url("../fonts/Cinzel_/Cinzel-VariableFont_wght.ttf");
}

@font-face {
    font-family: Poppis;
    src: url("../fonts/Poppins/Poppins-Light.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

/* * in header p-logo, header h1,  main h2, footer a-contact */
.schriftCinzel{
    font-family: Cinzel, sans-serif;
}    

/* * in main p, main h3-tourdates, main ul-text-touren */
.schriftPoppis{
    font-family: Poppis, sans-serif;
}