/* schrift import */
/* General Styles */

/* importe 
font-face

font-family: Cinzel, sans-serif;
font-family: Poppis, sans-serif;

 */

@font-face {
    font-family: Cinzel;
    src: url("../fonts/Cinzel_/Cinzel-VariableFont_wght.ttf");
}

@font-face {
    font-family: Poppis;
    src: url("../fonts/Poppins/Poppins-Light.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

/* * in header p-logo, header h1,  main h2, main h3-tourdates, footer a-contact */
.schriftCinzel{
    font-family: Cinzel, sans-serif;
}    

/* * in main p, main ul-text-touren */
.schriftPoppis{
    font-family: Poppis, sans-serif;
}



/* *+++++++++++++ header +++++++++++++ */

header p{ 
    margin: 1rem;
    color: #999;
    letter-spacing: 0.2rem;
    border: #ccc;
}

header h1{
text-align: center;
background-image: url("../img/background.avif");
height: 100vh;
color: #fff;
padding: 25vh 20vw;
font-size:7rem;
}



/* ***************** main ****************** */

main h2{
    text-align: center;
    margin: 3rem;
}

main p{
    margin: 0 10vw 3rem;
    text-align: center;
}


/* ******************** main bilder ************** */

main section{
    margin: 0 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 6rem;

    
}

main section img{
width: 18rem;
border-radius: 0.2rem;
}


/* ********************* main Text und Liste *************** */


main h3 {
    text-align: center;
    margin: 3rem 0 1rem;
}

